@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply font-satoshi;
    --nigga: 28, 27, 27;
    --niggi: 174, 75, 104;
}


.dark {
  /* Dark Theme Here */
}

.rotate-image {
    rotate: 140deg;
    position: absolute;
    left: -110px !important;
    bottom: -80px;
    z-index: -1;
}

.spiral1 {
    position: absolute;
    top: 0;
    right: 0;
}

.spiral2 {
    position: absolute;
    bottom: 0;
    right: 0;
}


.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* global.css */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba(255, 255, 255, 0.14) !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px #1B1A1A inset !important;
  transition: background-color 5000s ease-in-out 0s;
}



/* App.css */
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .marquee-text {
    animation: marquee 7s linear infinite;
  }