@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Satoshi-Bold';
        src: url('./assets/fonts/Satoshi-Bold.woff2') format('woff2'),
            url('./assets/fonts/Satoshi-Bold.woff') format('woff'),
            url('./assets/fonts/Satoshi-Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: 'Satoshi-Light';
        src: url('./assets/fonts/Satoshi-Light.woff2') format('woff2'),
            url('./assets/fonts/Satoshi-Light.woff') format('woff'),
            url('./assets/fonts/Satoshi-Light.ttf') format('truetype');
        font-weight: 300;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: 'Satoshi-Regular';
        src: url('./assets/fonts/Satoshi-Regular.woff2') format('woff2'),
            url('./assets/fonts/Satoshi-Regular.woff') format('woff'),
            url('./assets/fonts/Satoshi-Regular.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
    }
}



:root {
    @apply font-sans;
    --nigga: 28, 27, 27;
    --niggi: 174, 75, 104;
}

.dark {}

.rotate-image {
    rotate: 140deg;
    position: absolute;
    left: -110px !important;
    bottom: -80px;
    z-index: -1;
}

.spiral1 {
    position: absolute;
    top: 0;
    right: 0;
}

.spiral2 {
    position: absolute;
    bottom: 0;
    right: 0;
}


.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* global.css */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba(255, 255, 255, 0.14) !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px #1B1A1A inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

